* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    height: 100%;
    justify-content: space-evenly;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.eph{
    color: bisque;
}

.portfolio{
    color: black;
}

header nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav a{
    text-decoration: none;
    color: black;
    padding: 0px 5px;
    
}

header nav a:hover{
    background-color: bisque;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
}

aside{
    display: flex;
    position: fixed;
    flex-direction: column;
    font-size: 20px;
    text-decoration: underline #2a607c 5px;
    padding: 0px 20px;
    width: fit-content;
    height: 100%;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    justify-content: space-evenly;
}

section{
    justify-content: space-evenly;
    height: 100%;
}

.aboutme{
    display: flex;
    position: static;
    float: right;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    margin-right: 20px;
    justify-content: space-evenly;
}

.work{
    display: flex;
    position: sticky;
    float: right;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}

article{
    font-size: 16px;
    font-weight: 600;
}

figure{
    display: flex;
    flex-direction: row;

}

figure img{
    background-color: #eee;
    height: 400px;
    width: 400px;
    margin: 20px;
}